@charset "utf-8";
/* CSS Document */

body {
	background-image: url('../image/wal_2.jpg');
	background-repeat:	no-repeat;
	background-size: 107%;
}
.dlgCustom {
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    width: 320px; 
    height: 235px
},
.myField {
	padding: 3px !important;
}
.myFieldSelect {
    padding: 1.5px;
    width: 150px;
}
.myButton {
	width: 50px !important;
    padding: 6px !important;
    vertical-align: middle !important;
    font-weight: bold;
}
.treeGrid {
    width: 70em;
    height: 30em;
	border: 1px solid #333333;
}
.headerChart {
    font-size: 10px;
    color: #2d89ef;
    font-weight: bold;
}
.content {
    color: #efefef;
    background-color: #2d89ef;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    height: 20px;
    vertical-align: middle;
    width: 125px;
    margin-left: 10px;
    margin-top: 100px;
}
.btnOver {
    color: #2d89ef;
    width: 125px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 100px;
    vertical-align: middle;
}
